.main_background{
    -fx-background-image: url("../Backgrounds/Tetris background.png");
}

.blueglowbox {
    -fx-padding: 10 15;
    -fx-background-color: linear-gradient(to bottom, #101030, #050515);
    -fx-border-color: #00e5ff;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 12, 0.6, 0, 6),
    innershadow(gaussian, rgba(0,0,0,0.8), 10, 0.9, 0, 0),
    glow(0.9);
}

.levelbox{
    -fx-padding: 10 15;
    -fx-background-color: linear-gradient(to bottom, #101030, #050515);
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 12, 0.6, 0, 6),
    innershadow(gaussian, rgba(0,0,0,0.8), 10, 0.9, 0, 0),
    glow(0.9);
}

.levelbox.level-1{
    -fx-border-color: #5effb4;
}

.levelbox.level-2{
    -fx-border-color: #ebf071;
}

.levelbox.level-3{
    -fx-border-color: #ff4040;
}


.levelfont{
    -fx-font-family: "Pixel Emulator";
    -fx-font-size: 17px;
}

.levelfont.level-1{
    -fx-fill: #5effb4;
}

.levelfont.level-2{
    -fx-fill: #ebf071;
}

.levelfont.level-3{
    -fx-fill: #ff4040;
}

.mainmenuTransparentBg{
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.leaderboardBackground{
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-padding: 8;
}

.lb-row-odd {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.lb-row-even {
    -fx-background-color: rgba(255, 255, 255, 0.10);
}

.lb-row-first {
    -fx-background-color: linear-gradient(to right, #FFD700, #FFA500);
}

.lb-row-second {
    -fx-background-color: linear-gradient(to right, #C0C0C0, #808080);
}

.lb-row-third {
    -fx-background-color: linear-gradient(to right, #CD7F32, #8B4513);
}

.lb-rank {
    -fx-font-family: "Pixel Emulator";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-min-width: 40;
    -fx-alignment: center-right;
}


.lb-name {
    -fx-font-family: "Pixel Emulator";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 0 10 0 10;
}


.lb-score {
    -fx-font-family: "Pixel Emulator";
    -fx-font-size: 16px;
    -fx-text-fill: #FFEB3B;
    -fx-min-width: 100;
    -fx-alignment: center-right;
}

.blueglowboxpause{
    -fx-padding: 10 15;
    -fx-background-color: linear-gradient(to bottom, #101030, #050515);
    -fx-border-color: #00e5ff;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-effect: glow;
}

.blueglowboxButton{
    -fx-padding: 10 15;
    -fx-background-color: linear-gradient(to bottom, #101030, #050515);
    -fx-border-color: #00e5ff;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 12, 0.6, 0, 6),
    innershadow(gaussian, rgba(0,0,0,0.8), 10, 0.9, 0, 0),
    glow;
}

.blueglowboxButton:hover{
    -fx-border-color: #66ffff;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1.0), 20, 0.8, 0, 8),
    innershadow(gaussian, rgba(0,0,0,1.0), 15, 0.9, 0, 0),
    glow;

    -fx-background-color: linear-gradient(to bottom, #151540, #0a0a25);
}

.blueglowboxButton:pressed{
    -fx-border-color: #66ffff;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1.0), 20, 0.8, 0, 8),
    innershadow(gaussian, rgba(0,0,0,1.0), 15, 0.9, 0, 0);

    -fx-background-color: linear-gradient(to bottom, #151540, #0a0a25);

    -fx-translate-y: 1;
}

.nextBrick {
    -fx-border-width: 2px;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 17px;
}

.gameBoard {
    -fx-background-image: url("/Backgrounds/tetrisbackground.png");
    -fx-background-position: center;
    -fx-background-insets: 12;
    -fx-border-color: #00e5ff;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 12, 0.6, 0, 6),
    innershadow(gaussian, rgba(0,0,0,0.8), 10, 0.9, 0, 0),
    glow;
}

.gameBoardBorder{
    -fx-border-color: linear-gradient(#8E71D9,#C2BECC);
    -fx-border-width: 10px;
    -fx-border-radius: 12px;
}

.nextBrickLabel {
    -fx-font-family: "Let's go Digital";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 16px;
    -fx-text-fill: yellow;
}

.MenuButton{
    -fx-background-color: linear-gradient(to right, #FFEBEB 0%, #FDFFC4 100%);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: black;
    -fx-font-family: "Pixel Emulator";
    -fx-text-fill: linear-gradient(to right, #FF0000 0%, #FFA500 100%);
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.4), 2, 0.0, 0, 1);
}

.RegisterButton{
    -fx-background-color: linear-gradient(to right, #FFEBEB 0%, #FDFFC4 100%);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: black;
    -fx-font-family: Iomanoid;
    -fx-text-fill: linear-gradient(to right, #D40B00 0%, #FF5C5C 100%);
    -fx-font-size: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.IomanoidText{
    -fx-font-family: Iomanoid;
}

.RegisterButton:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-translate-y: -3;
    -fx-effect: dropshadow(gaussian, white, 20, 0.7, 0, 0);
}
.MenuButton:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-translate-y: -3;
    -fx-effect: dropshadow(gaussian, white, 20, 0.7, 0, 0);
}


.ipad-dark-grey {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 8;
    /*-fx-font-family: "Helvetica";*/
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.instruction_key_button{
    -fx-background-color: linear-gradient(to bottom, #2b2b3d, #181825);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #00e5ff;
    -fx-border-width: 1;
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 6, 0.5, 0, 2);
}

.key_desc{
    -fx-text-fill: #ccccff;
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 9pt;
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 10px;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.gameOverPanel{
    -fx-background-color: linear-gradient(to bottom, #0d1b3d, #050b1a); /* dark blue */
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #42a5ff;      /* light blue border */
    -fx-border-width: 2;
    -fx-padding: 15 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.85), 18, 0.9, 0, 5);
}

.gameOverOverlay{
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.scoreClass{
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 38;
    -fx-fill: yellow;
    -fx-text-fill: yellow;
}